Voor XTA challenges is het volgende nog nodig in instruqt:
- editor
  - default editor met minimale mogelijkheden (save, reset, ctrlz, ctrl c, ctrl v)
  - COULD: kleur formatting van bestanden (afhankenkelijk van bestandstype)
- read-only show file
  - je moet kunnen aangeven welke bestanden read-only zijn
- file structure van project
  - folder structuur binnen aangegeven pad. Bestanden zijn te openen vanuit deze folder structuur



onderaan backlog:
- viewport, zodat je selenium en cypress testen kunt draaien en zien wat er gebeurd